/* Adding some Roboto fonts from Google. */
@font-face {font-family: roboto; src: url("Roboto-Regular.ttf")}
@font-face {font-family: roboto-light; src: url("Roboto-Light.ttf")}
@font-face {font-family: roboto-thin; src: url("Roboto-Thin.ttf")}

/* Configuration of body elements. */
body {
	background-color: #a6b1e1;
}

div {
	padding: 2em;
	max-width: 100%;
}

ul {
	list-style-type: none;
	padding: 1em;
	margin: 3em;
	max-width: 100%;
	overflow: hidden;
	background-color: #dcd6f7;
}

ul li {
	display: inline-block;
	float: left;
	min-width: 33.33%;
	max-width: 100%;
}

ul li a {
	display: block;
	padding: 2em 1em;
	text-decoration: none;
}

ul li a:hover:not(.currentpage) {
	background-color: #afb8de;
}

ol {
	padding: 1.3em;
	margin: 0;
}

iframe {
	display: inline-block;
	padding: 0.3125em;
}

/* Class definitions. */
.currentpage {
	background-color: #424874;
	cursor: pointer;
}

.normalfont {
	font-family: roboto, Verdana, sans-serif; 
	color: #1c1e30;
}
.lightfont {
	font-family: roboto-light, Verdana, sans-serif; 
	color: #1c1e30;
}
.thinfont {
	font-family: roboto-thin, Verdana, sans-serif; 
	color: #1c1e30;
}

.bigf { font-size: 36px; }
.mediumf { font-size: 24px; }
.smallf { font-size: 12px; }
