/* Adding some Roboto fonts from Google. */
@font-face {font-family: roboto; src: url("Roboto-Regular.ttf")}
@font-face {font-family: roboto-light; src: url("Roboto-Light.ttf")}
@font-face {font-family: roboto-thin; src: url("Roboto-Thin.ttf")}

/* Configuration of body elements. */
body {
	background-color: #a6b1e1;
}

ul {
	display: block;
	list-style-type: none;
	padding: 5px 0px 5px 5px;
	margin: 20px 0px;
	width: 100%;
	overflow: hidden;
	background-color: #dcd6f7;
}

ul li {
	float: left;
}

ul li a {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
}

ul li a:hover:not(.currentpage) {
	background-color: #afb8de;
}

iframe {
	display: inline-block;
	padding: 20px;
}

/* Class definitions. */
.currentpage {
	background-color: #424874;
	cursor: pointer;
}

.normalfont {
	font-family: roboto, Verdana, sans-serif; 
	font-weight: 800; 
	color: #1c1e30;
}
.lightfont {
	font-family: roboto-light, Verdana, sans-serif; 
	font-weight: 600; 
	color: #1c1e30;
}
.thinfont {
	font-family: roboto-thin, Verdana, sans-serif; 
	font-weight: 700; 
	color: #1c1e30;
}
